p {
    font-size: 2em;
}

.title {
    font-size: 2em;
    text-align: center;
    margin-top: 4rem;
}

.contact-links {
    display: flex;
    width: 100%;
    justify-content: space-around;
    max-width: 400px;
}

@media screen and (min-width: 600px) {
    .link-wrapper {
        display: flex;
        justify-content: center;
    }

    p a {
        font-size: 3em;
    }

    .title {
        font-size: 3em;
        margin-top: 6rem;
    }
}